body {
    background: linear-gradient(white, rgba(119,189,217,0.7)); 
    
    
    /*background-size:cover; */
}

h1 {
    font-family: 'Poiret One', cursive;
}
.button {
    height: 50px;
    width: 200px;
    background: #9AE0FF;
    display: block;
    padding: 10px;
    
    
    border-radius: 50px;
    box-shadow: 0 8px 0;
    text-shadow: 0 ;
}

html{
    height:100%;
}

div {
    background: black;
}