
body {
    background: linear-gradient(white, rgba(119, 189, 217, 0.7));
    /*background-size:cover; */
}

h1 {
    font-family: 'Poiret One', cursive;
}

.button {
    padding: 10px;
    font-size: 20px;
    background: linear-gradient(white, rgba(119, 189, 217, 0.7));
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
    transition: all 0.3s ease 0s;
    position: absolute;
}

.button:hover {
    background: #3071A9
}





